/* ========================================================================
   Component: Typography
 ========================================================================== */
@font-face {
  font-family: 'Campton Bold';
  src: url('../fonts/campton/Campton-BoldDEMO.otf');
}
@font-face {
  font-family: 'Campton Light';
  src: url('../fonts/campton/Campton-LightDEMO.otf');
}

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,700');

html {
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 16px;
}
.bold-text {
    font-family: "Montserrat", sans-serif;
}
.light-text {
    font-family: "Montserrat regular", sans-serif;
}
header p {
    font-size: 18px;
}



/* Icon Font
 ========================================================================== */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticons/flaticon.eot");
  src: url("../fonts/flaticons/flaticon.eot") format("embedded-opentype"),
  url("../fonts/flaticons/flaticon.woff") format("woff"),
  url("../fonts/flaticons/flaticon.ttf") format("truetype"),
  url("../fonts/flaticons/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*="icon-"]:before,
[class^="icon-"]:after, [class*="icon-"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 Flaticon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add-user:before {
  content: "\e000";
}
.icon-discussion:before {
  content: "\e001";
}
.icon-check:before {
  content: "\e002";
}
.icon-code:before {
  content: "\e003";
}
.icon-heart:before {
  content: "\e004";
}
.icon-idea:before {
  content: "\e005";
}
.icon-mobile:before {
  content: "\e006";
}
.icon-arrow-left:before {
  content: "\e007";
}
.icon-office:before {
  content: "\e008";
}
.icon-reload:before {
  content: "\e009";
}
.icon-arrow-right:before {
  content: "\e00a";
}
.icon-web-browser:before {
  content: "\e00b";
}
