body{
	background: gray;
}

/*footer */
footer .copyright {

	text-align: center;
	color: rgba(25,24,55,.5);
	font-size: 16px;
	padding: 15px 0;

}

/*paginacion */


.paginacion {

	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}

.paginacion a{
	display: inline-block;
	padding: 15px 20px;
	border-radius: 50px;
	boder: 1px solid rgba (255,255,255,.2);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.pagination a:hover{
	boder:1px solid #fff;
	text-decoration: none;
}